/* ------------ REUSABLES ------------ */

	.center {
		float: none !important;
		margin: 0 auto !important;
	 	text-align: center;
	 	width: 960px;
	}

/* ------------ GENERAL ------------ */

	#content {
		padding-top: 60px;
	}

	td.field {
		font-weight: bold;
		padding-bottom: 15px;
	}

	td.datum {
		padding-left: 30px;
		padding-bottom: 15px;
	}

/* ------------ ADMIN ------------ */

	#admin #query-form {
		width: 780px;
	}

		#admin #query-form input {
			font-size: 25px;
			height: 50px;
			width: 100%;
		}

		#admin #query-form button {
			height: 60px;
		}

	#admin #query-results {
		overflow: scroll;
	}

/* ------------ SEARCH ------------ */

	#search #basic-information {
		margin-left: -70px;
	}

/* ------------ MOVIE ------------ */
	
	#movie-single #movie {
		margin-bottom: 30px;
	}

		#movie-single #movie #details {
			font-size: 16px;
		}

		#movie-single #movie #poster {
			margin-bottom: 20px;
			width: 270px;
		}

		#movie-single #movie #controls {
			box-sizing:border-box;
			width: 280px;
		}

			#movie-single #movie #controls form {
				margin-bottom: 0;
			}

				#movie-single #movie #controls form .control-group {
					margin-bottom: 0;
				}

				#movie-single #movie #controls form .control-label {
					font-weight: bold;
					width: 30px;
				}

				#movie-single #movie #controls form .controls {
					margin-left: 50px;
				}

/* ------------ PROFILE ------------ */	

	#profile #overview table {
		font-size: 16px;
	}

	#profile #ratings .rating {
		font-size: 20px;
	}

/* ------------ LOGIN ------------ */

	#login form {
		margin-left: -70px;
	}

		#login form .form-actions {
			margin-left: 70px;
			padding-left: 109px;
		}

/* ------------ REGISTER ------------ */

	#register form {
		margin-left: -70px;
	}

		#register form .form-actions {
			margin-left: 70px;
			padding-left: 109px;
		}		

/* ------------ LISTS ------------ */

	#lists #new-list-modal form {
		margin-left: -126px;
	}

		#lists #new-list-modal form label {
			font-weight: bold;
		}